/.buildpath
/.classpath
/.project
/.settings
/velocity.log
/bin
/target
startSmtpServer.sh
receivedMessages.log
*.idea
*.ids
*.iml
*.ipr
*.iws
.DS_Store
*.orig
.externalToolBuilders
rebel.xml
tmp/
/cookbooks/
.vagrant
ipkinetic-api-parent/target
events_*
CM*

